<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=xQze67BpXG">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=xQze67BpXG">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=xQze67BpXG">
<link rel="manifest" href="/site.webmanifest?v=xQze67BpXG">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=xQze67BpXG" color="#5bbad5">
<link rel="shortcut icon" href="/favicon.ico?v=xQze67BpXG">
<meta name="apple-mobile-web-app-title" content="Nausdream">
<meta name="application-name" content="Nausdream">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">