// Iconfonts
.icon-1x {
  font-size: 1.4rem !important;
}

.icon-2x {
  font-size: 2.2rem !important;
}

.icon-3x {
  font-size: 2.8rem !important;
}

.icon-4x {
  font-size: 3.4rem !important;
}

.icon-5x {
  font-size: 4rem !important;
}

// Colors
.bg-white {
  background-color: white !important;
}

// Margins and paddings
$margins: (
        auto: auto, none: 0px, sm: 10px, md: 20px, lg: 40px, xl: 60px
);
$paddings: (
        none: 0px, sm: 10px, md: 15px, lg: 20px, xl: 25px, xxl: 30px
);
$sides: (top, bottom, left, right);

@each $margin-dim, $margin in $margins {
  .mar-#{$margin-dim} {
    margin: #{$margin} !important;
  }

  @each $side in $sides {
    .mar-#{$side}-#{$margin-dim} {
      margin-#{$side}: #{$margin} !important;
    }
  }
}

@each $padding-dim, $padding in $paddings {
  .pad-#{$padding-dim} {
    padding: #{$padding} !important;
  }

  @each $side in $sides {
    .pad-#{$side}-#{$padding-dim} {
      padding-#{$side}: #{$padding} !important;
    }
  }
}

.font-lighter {
  font-weight: lighter !important;
}
.font-bold {
  font-weight: bold !important;
}

.color-text-inverse {
  color: $color-text-inverse !important;
}

.pre-line {
  white-space: pre-line !important;
}

// Font sizes
$font-sizes: (
        xs: 1rem,
        sm: 1.2rem,
        md: 1.4rem,
        lg: 2rem,
        xl: 2.4rem,
        xxl: 2.8rem
);
@each $text-dim, $dim in $font-sizes {
  .text-#{$text-dim} {
    font-size: #{$dim} !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.background-cover {
  background-size: cover;
}

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

.center-vertically {
  position: relative;
  top: 50%;
  @include translateY(-50%);
}

.table-center-cells {
  display: table !important;
  border-spacing: 5px;

  &>* {
    display: table-cell !important;
    vertical-align: middle !important;
  }
}

.center-block {
  margin-left: auto !important;
  margin-right: auto !important;
}