$header-height: 60px;
$header-height-md: 157px;
$footer-height: 325px;
$footer-height-md: 150px;
$max-width: 1140px;
$max-width-thin: 765px;

// Body
$body-bg: #f6f6f6;

// Brands
$color-main: #101c33;
$color-light: #31bef8;
$color-links: #0095bf;

// Listings
$listing-box-orange: #fdc731;
$listing-blue: #263b83;

// Typography
$font-family-sans-serif: 'Proxima Nova', Helvetica, Arial, sans-serif;
$font-size-base: 1.6rem;
$line-height-base: 1.6;
$color-text-main: #343434;
$color-text-inverse: white;
$color-text-light: #b7b7b7;
$color-error: #dc3545;

// Buttons
$btn-default-color: $color-light;

// Headings
$h1-font-size: 3rem;
$h2-font-size: 2rem;
$h3-font-size: 1.6rem;

//Z-index
$z-navbar: 998;
$z-panel: 999;
$z-header: 1;
$z-cookie-policy: 2;
$z-price: 997;

// Anchors
$a-tags: 'a';
$a-tags-hover: 'a:active, a:hover, a:focus, a:visited';