html {
  font-size: 65%;
  overflow-x: hidden;
}

body {
  color: $color-text-main;
  overflow-x: hidden;
  font-size: $font-size-base;
  font-family: $font-family-sans-serif;

  &.navbar-open {
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    #navbar {
      left: 0;
    }

    #overlay {
      left: 0;
      background-color: rgba(black, 0.6);
    }
  }
}

#{$a-tags} {
  text-decoration: none;
  color: inherit;
}
#{$a-tags-hover} {
  text-decoration: none;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

::placeholder {
  color: $color-text-light;
  opacity: 1; /* Firefox */
}

.content-wrapper {
  min-height: calc(100vh - #{$footer-height});
}

$transition-duration: 0.4s;
$transition-function: ease-out;
.header {
  z-index: $z-header;
  text-align: center;
  background-color: white;
  height: $header-height;
  border-bottom: 1px solid $color-text-light;
  position: relative;

  #navbar {
    z-index: $z-navbar;
    position: fixed;
    top: 0;
    left: -100%;
    width: 260px;
    height: 100%;
    background-color: white;
    color: $color-text-main;
    @include transition(left $transition-duration $transition-function);

    &.open {
      left: 0;
    }
  }

  #overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: transparent;
    @include transition(background-color $transition-duration $transition-function);
  }

  .menu-icon {
    position: absolute;
    left: 0;
    top: 0;
    line-height: $header-height;
    padding: 0 10px;
    cursor: pointer;
  }

  .logo {
    padding: 10px 20px;
    height: 100%;
  }

  .menu-item {
    display: block;
    line-height: 2.5;
    cursor: pointer;
    padding: 0 20px;
    text-transform: uppercase;

    &:hover {
      background-color: rgba(black, 0.1);
    }
  }

  #{$a-tags}, #{$a-tags-hover} {
    color: inherit;
  }
}

.content {
  position: relative;
}

.footer {
  min-height: $footer-height;
  background-color: $color-main;
  color: $color-text-inverse;

  hr {
    border-color: $color-text-inverse;
  }

  #{$a-tags}, #{$a-tags-hover} {
    color: inherit;
  }

  a.social-icon {
    background-color: $color-text-inverse;
    color: $color-main;
  }
}

a.social-icon {
  width: 24px;
  height: 24px;
  line-height: 26px;
  font-size: 1.4rem;
  display: inline-block;
  background-color: $color-text-inverse;
  color: $color-main;
  @include border-radius(100px);
  margin: 0 10px;
  text-align: center;
}

.def-btn-container {
  max-width: 300px;
}
.def-btn {
  display: inline-block;;
  cursor: pointer;
  outline: none;
  background-color: $btn-default-color;
  color: white;
  border: 2px solid $btn-default-color;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 3;
  @include border-radius(100px);
  width: 100%;
  text-align: center;
  padding: 0 1rem;

  &:hover {
    color: $btn-default-color;
    background-color: white;
  }

  &#{$a-tags}, &#{$a-tags-hover} {
    color: indianred;
  }
}

.naus-panel {
  z-index: $z-panel;
  width: 100%;
  height: 100%;
  background-color: white;
  color: $color-text-main;
  position: fixed;
  bottom: -100%;
  @include transition(bottom $transition-duration/2 $transition-function);

  &.open {
    bottom: 0;
  }
}

.naus-panel-title {
  text-align: center;
  position: relative;
  height: 50px;
  line-height: 50px;

  .close-icon {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 15px;
    cursor: pointer;
  }
}

.tooltip {
  &.show {
    opacity: 1;
  }

  .arrow {
    &:before {
      border-top-color: $color-text-inverse;
    }
  }
  .tooltip-inner {
    color: $color-text-main;
    background-color: $color-text-inverse;
    box-shadow: 2px 2px 2px rgba(black, 0.2);
    padding: 1rem;
  }
}

.datepicker {
  min-height: 35px;
}

.form-check {
  padding-left: 20px;

  .form-check-input {
    margin-left: -20px;
  }
}

//White box with content (e.g. seo box in home, etc)
$box-radius: 15px;
.box-title {
  margin-bottom: 20px;
}
.box {
  border-bottom-left-radius: $box-radius;
  border-bottom-right-radius: $box-radius;
}
.hidden-box {
  width: 82%;
  height: 40px;
  background-color: #4ddbda;
  margin: auto;
  border-bottom-left-radius: $box-radius;
  border-bottom-right-radius: $box-radius;
}

.separator {
  width: 150px;
  margin: 0 auto 16px;
  height: 3px;
  background-color: $color-light;
  @include border-radius(100px);

  &.small {
    width: 32px;
  }

  &.pink {
    background-color: #ef617a;
  }
  &.yellow {
    background-color: #ffd769;
  }
}

.carousel-control-prev, .carousel-control-next{
  opacity: 0.8;

  &:hover, &:focus {
    opacity: 1;
  }
}

.datepicker {
  border: 1px solid $color-text-light;

  table {
    width: 100%;
  }

  .day {
    &.disabled {
      cursor: not-allowed;
      color: #dcdcdc;

      &:hover {
        cursor: not-allowed;
        color: #dcdcdc;
      }
    }
  }
}
.naus-datepicker {
  &:read-only {
    background-color: white;
  }
}

span, label {
  &.form-error {
    font-size: 80%;
    font-weight: 400;
    color: $color-error;
  }
}


#{$a-tags}, #{$a-tags-hover} {
  &.a-color {
    color: $color-light;
  }
}

@include media-breakpoint-up(md) {
  .content-wrapper {
    min-height: calc(100vh - #{$footer-height-md});
  }

  .max-width {
    max-width: $max-width;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .max-width-thin {
    max-width: $max-width-thin;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  $first-row-height: 40px;
  $second-row-height: 85px;
  $menu-item-height: 126px;
  .header {
    text-align: initial;
    height: auto;

    .language-dropdown {
      color: $color-text-main;
      position: fixed;
      bottom: 15px;
      left: 20px;

      .dropdown-toggle {
        padding: 10px 15px;
        background-color: white;
        border-radius: 50px;
        box-shadow: 0 3px 15px 0 rgba(black,0.25);
      }

      .language {
        padding-left: 2.6rem;
        padding-right: 2.6rem;
      }
    }

    .second-row {
      height: $second-row-height;
      line-height: $second-row-height;
    }

    .logo {
      padding: 10px 0;
      height: 75px;
    }

    .menu {
      border-left: 1px solid $color-text-light;
      font-size: 1.3rem;
    }
    .menu-item {
      float: left;
      display: inline-block;
      line-height: $menu-item-height;
      height: $second-row-height;
      border-right: 1px solid $color-text-light;

      &:hover {
        background-color: rgba(black, 0.025);
      }
    }

    #destination-menu-item {
      height: initial;
      line-height: initial;
      padding: 0;

      .dropdown-toggle {
        line-height: $menu-item-height;
        height: $second-row-height;
        padding: 0 20px;

        &:after {
          display: none;
        }
      }
    }

    .dropdown-menu {
      margin-top: -2px;
    }
  }

  .footer {
    min-height: $footer-height-md;
    padding: 25px;
  }

  .dropdown {
    .dropdown-menu {
      line-height: 2.5;
    }
  }

  .box-title {
    margin-bottom: 60px;
  }
}

@include media-breakpoint-up(lg) {
  .header {
    .menu {
      font-size: initial;
    }
  }
}