.booking-checkout {
  .def-btn {
    padding: 0 3rem;
  }

  .guests-section{
    padding: 15px;
    background-color: white;
    margin-bottom: 15px;

    .title {
      color: $listing-blue;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.booking {
  .max-width-thin {
    max-width: 600px;
  }
  .booking-summary-table {
    border-collapse: separate;
    border-spacing: 0 20px;
    width: 100%;
    margin: auto;

    .left-col {
      text-align: left;
    }
    .right-col {
      text-align: right;
    }
  }
}