.opt-in {
  .content {
    margin: auto;
    max-width: 700px;
    padding: 30px 15px;
  }
}

/*
 * REFER A FRIEND
 */
.refer-a-friend {
  &.rules {
    .banner {
      img {
        width: 100%;
        max-width: 800px;
      }
    }
  }
}
.refer-a-friend-banner {
  display: none;
  position: relative;
  background-color: #fffcf5;
  color: $color-text-main;
  border: 2px dashed $listing-box-orange;
  z-index: 1;
  text-align: center;
  padding: 10px 35px;
  font-size: 1.2rem;

  .icon-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $color-text-main;
    }
  }

  .discount {
    color: orange;
    font-weight: bold;
  }

  &#refer-a-friend-mobile {
    font-size: 1.2rem;

    &.affix {
      position: fixed;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }

  &#refer-a-friend-desktop {
    position: fixed;
    right: 0;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    box-shadow: 0 3px 15px 0 rgba(black, 0.25);
    font-size: 1.5rem;
  }
}
.refer-a-friend-banner-minimized {
  display: none;
  position: relative;
  background-color: #fffcf5;
  color: $color-text-main;
  border: 2px dashed $listing-box-orange;
  z-index: 1;
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;

  a {
    text-decoration: underline;

    &:hover {
      color: $color-text-main;
    }
  }

  &#refer-a-friend-mobile-minimized {
    &.affix {
      position: fixed;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }

  &#refer-a-friend-desktop-minimized {
    position: fixed;
    right: 20px;
    bottom: 70px;
    border-radius: 5px;
    box-shadow: 0 3px 15px 0 rgba(black, 0.25);
    font-size: 1.5rem;

    &.it {
      max-width: 176px;
    }

    &.en {
      max-width: 162px;
    }
  }
}

//CUSTOM POSITION FOR LISTING PAGE
.listing {
  #refer-a-friend-mobile, #refer-a-friend-mobile-minimized {
    margin-top: 10px;
    padding: 5px 20px;

    &.affix {
      position: relative;
    }

    .icon-close {
      right: 5px;
      top: 5px;
    }
  }
}

/*
 * OTHER CAMPAINGS
 */