#cookie-policy-banner {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-navbar;
  background-color: rgba($color-main, .8);
  color: white;
  font-size: $font-size-base * 0.8;

  .cookie-policy-banner-title {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .close-button {
    top: 0;
    right: 0;
  }

  hr {
    border-color: white;
  }

  a {
    &:hover {
      color: white;
    }
  }

  .cookie-policy-link {
    color: $color-light;
    font-weight: bold;
  }

  .checkboxes-table {
    display: table;
  }
  .checkboxes-container, .ok-btn-container {
    display: table-cell;
  }
  .checkbox-container {
    display: inline-block;
    margin: 10px;
  }
  #cookie-policy-banner-ok-button {
    background-color: $color-light;
    color: white;
    padding: 0 20px;
    cursor: pointer;
    border: 1px solid $color-light;
    margin: 0 20px;

    &:hover {
      background-color: white;
      color: $color-light;
    }
  }
}