.page-error {
  margin-bottom: -19px;

  .page-code {
    font-size: 20rem;
    text-shadow: 2px 5px 0 #1b4368;
  }

  .page-message {
    text-shadow: 0 2px 0 #1b4368;
    font-size: 4rem;
  }

  .def-btn {
    width: auto;
    padding: 0 3rem;
  }
}

.page-404, .page-401 {
  .background {
    background-image: radial-gradient(circle at 52% 50%, #799abc, #1b4368);
    padding: 50px;
    color: white;
  }
}