.harbour-center {
  .head {
    text-shadow: 0 1px 1px rgba(black, 0.5);
    position: relative;
    background-size: cover;
  }
  .title {
    line-height: 1.2;
    font-size: 4rem;
    padding-top: 50px;
    margin-bottom: 50px;
  }
  .subtitle {
    font-size: 2.5rem;
    margin-bottom: 50px;
  }
  .description {
    width: 100%;
    padding: 15px;
    background-color: rgba(black, 0.4);

    #{$a-tags}, #{$a-tags-hover} {
      color: white;
    }
  }
  .read-more {
    text-decoration: underline;
  }

  .hc-description-heading {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  #seo-text {
  }
}

@include media-breakpoint-up(md) {
  .harbour-center {
    .title {
      font-size: 6rem;
      padding-top: 85px;
      margin-bottom: 55px;
    }
    .subtitle {
      font-size: 3.25rem;
      margin-bottom: 120px;
    }
    .description {
    }
  }
}

@include media-breakpoint-up(xl) {
  .harbour-center {

  }
}