.home {
  $search-bar-height: 51px;

  .content-wrapper {
    min-height: calc(100vh - #{$footer-height + $header-height});
  }

  .header {
    position: absolute;
    width: 100%;
    background-color: rgba(black, 0.1);
    color: $color-text-inverse;
    border-color: $color-text-inverse;
  }

  .above-the-fold {
    min-height: 40vh;
    padding: $header-height 0;
    background-size: cover;
    color: $color-text-inverse;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(black, 0.6);
    margin-bottom: 30px;
    @extend .pad-right-md;
    @extend .pad-left-md;
  }

  .headline {
    text-transform: uppercase;
    margin-top: 56px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    font-size: 3.4rem;
  }
  .sub-headline {
    margin-bottom: 25px;
    font-size: 2.5rem;
  }

  .harbour-center-select {
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 0 15px;
    color: $color-text-light;
    background-color: white;
    @include border-radius(5px);
    width: 100%;
    line-height: $search-bar-height;
    min-height: $search-bar-height;

    // Fix safari and chrome for ios
    //-moz-appearance: none;
    //-webkit-appearance: none;

    .option {
      color: $color-text-main;
    }
  }
  .search-bar {
    max-width: 650px;
  }
  .explore-btn {
    @include border-radius(5px);
    padding: 0 15px;
    height: $search-bar-height;
    line-height: $search-bar-height;
  }
  #explore-btn-menu {
    text-align: left;
    position: absolute;
    z-index: $zindex-dropdown;
    background-color: $color-text-inverse;
    display: none;
    width: 100%;
    text-shadow: none;

    .dropdown-item {
      padding-left: 2.5rem;
      color: $color-text-main;
    }
  }

  .top-destination {
    position: relative;
    height: 220px;
    color: $color-text-inverse;
    text-align: center;

    .top-destination-picture {
      position: absolute;
      object-fit: cover;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .def-btn {
      display: block;
      margin: auto;
      position: relative;
      bottom: -150px;
      line-height: 2.5;
      max-width: 230px;
      padding: 0 10px;
    }

    .label {
      display: block;
      position: absolute;
      padding: 0 20px;
      line-height: 36px;
      text-transform: uppercase;
      letter-spacing: 1px;
      transform-origin: center;
      width: 100%;
      top: 40%;
      @include translateY(-40%);
      font-size: 3rem;
      text-shadow: 0 1px 1px rgba(black, 0.5);
    }
  }

  .why-nausdream-container {
    padding-top: 40px;
    border-top: 1px solid rgba($color-text-light, 0.35);
  }

  .badge {
    width: 150px;
    @extend .mar-bottom-sm;
  }

  $vivid-yellow: #fccf1b;
  .feedbacks-bg {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .feedbacks-heading {
    position: absolute;
    color: $color-text-inverse;
    text-align: center;
    width: 100%;

    .about-us {
      text-transform: uppercase;
      margin-top: 36px;
    }
    .quotation-marks {
      font-size: 10.6rem;
      color: $vivid-yellow;
      letter-spacing: 30px;
    }
  }

  #feedbacks {
    color: $color-text-inverse;
    text-align: center;

    .feedback-text {
      position: relative;
      margin-top: 0;
      margin-bottom: 35px;
      height: 245px;

      .feedback-text-inner {
        position: absolute;
        width: 75%;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
        line-height: 28px;
        font-size: 1.4rem;
        font-weight: lighter;
      }
    }
    .feedback-user-pic {
      display: inline-block;
      width: 50px;
      margin-right: 15px;
    }
    .feedback-user-data {
      display: inline-block;
      margin-bottom: 0;
      line-height: 17px;
      text-align: left;
      top: 8px;
      position: relative;

      span {
        font-size: 1.4rem;
        font-weight: lighter;
      }

      .feedback-user-name {
        color: $vivid-yellow;
      }
    }

    .carousel-item {
      margin-top: 110px;

      .carousel-caption {
        position: relative;
        right: auto;
        left: auto;
        margin: auto auto 10px;
        bottom: 25px;
      }
    }
  }

  .seo-container {
    padding: 0 15px;
  }
}

@include media-breakpoint-up(md) {
  .home {
    .content-wrapper {
      min-height: calc(100vh - #{$footer-height-md + $header-height-md});
    }

    .header {
      .first-row {
        border-color: $color-text-inverse;
      }

      .menu {
        border-color: $color-text-inverse;
      }
      .menu-item {
        border-color: $color-text-inverse;

        &:hover {
          background-color: rgba(black, 0.1);
        }
      }
    }

    .top-destinations-container {
      max-width: 950px;
    }

    .seo-container {
      padding: 0 50px;
    }
    .seo-box-img {
      position: relative;
      top: -40px;
      left: -40px;
      margin-right: -20px;
      margin-bottom: -40px;
    }

    .above-the-fold {
      padding-top: $header-height-md;
    }
  }
}
