.listing-box {
  display: block;
  border: 1px solid $color-text-light;
  background-color: $color-text-inverse;

  .listing-details {
    max-height: 300px;
    overflow: hidden;
    position: relative;
  }

  .btn-container {
    position: absolute;
    left: 50%;
    bottom: 0;
    padding: 5px 0 10px;
    @include translateX(-50%);
    width: 100%;
    background-color: white;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: -40px;
      width: 100%;
      height: 40px;
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #fff);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
    }
  }
  .def-btn {
    width: 90%;
    margin: auto;
    display: block;
  }

  &.mouse-hover {
    box-shadow: 0 1px 6px rgba(black, 0.4);
    border-color: $color-light;
  }

  .photo {
    display: block;
    position: relative;
    height: 290px;
    background-size: cover;
    color: inherit;
  }
  .instant-booking {
    display: inline-block;
    padding: 5px 10px 5px 5px;
    background-color: white;
  }
  .icon-flash {
    color: $listing-box-orange;

    &:before {
      margin-left: 0;
    }
  }
  .price {
    text-align: right;
    color: $color-text-inverse;
    min-width: 220px;
    max-width: 90%;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px 15px;
    background-color: rgba(0, 0, 0, .5);
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  }

  .listing-title {
    min-height: 4.8rem;
    line-height: 1.25;
    font-size: 2rem;

    a:hover {
      color: #318ef8;
    }
  }
  .listing-description {
    max-height: 250px;
    overflow: hidden;
    position: relative;
  }

  .weekday {
    text-transform: uppercase;
    background-color: $listing-box-orange;
    color: white;
    padding: 5px;
    @include border-radius(5px);
  }

  @include media-breakpoint-up(md) {
    .listing-title {
      font-size: 2.5rem;
    }
  }
}