.listing {
  .listing-breadcrumb {
    background-color: white;
    padding: 10px;

    #{$a-tags-hover} {
      text-decoration: underline;
    }
  }

  .listing-price-box {
    border-top: 1px solid $color-text-light;
    z-index: $z-price;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;

    .listing-price-col {
      float: left;
      line-height: 1.2;
    }
    .listing-price {
      line-height: 1;
      font-size: 2.5rem;
      color: $listing-blue;
    }
  }

  .cta-box {
    display: inline-block;
  }

  a.call-us-btn {
    float: right;
    line-height: 1.2;
    cursor: pointer;
    border: 1px solid $listing-box-orange;
    @include border-radius(10px);
    font-size: 1.2rem;
    color: $color-text-main;
  }

  a.cta-btn {
    width: 100%;
    text-align: center;
    line-height: 1.25;
    display: inline-block;
    padding: 15px 10px;
    font-weight: lighter;
    background-color: $listing-box-orange;
    color: white;
  }

  .listing-carousel {
    position: relative;

    .carousel-item {
      height: calc(100vh - #{$header-height} - 22rem);
      min-height: 150px;
      max-height: 375px;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .carousel-control-next {
      @include linear-gradient(to right, transparent, rgba(black, 0.5));
    }
    .carousel-control-prev {
      @include linear-gradient(to left, transparent, rgba(black, 0.5));
    }

    .carousel-picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }

  .listing-main-title {
    font-size: 2.5rem;
  }

  hr {
    border-color: $color-text-light;
    margin: 1.5rem 0;
  }

  .quick-info {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 1rem;

    td {
      vertical-align: text-bottom;
    }

    .td-icon {
      width: 1%;
    }
    .td-text {
      width: 55%;
    }
  }

  .listing-body {
    color: #6b6b6b;
  }

  .listing-section {
    padding: 0 15px;
  }
  .listing-section-title {
    color: $listing-blue;
    font-weight: bold;
    text-transform: uppercase;
  }

  .timeline {
    $padding-bottom: 10px;
    $line-height: 2em;
    $marker-size: 11px;
    $border-width: 3px;

    .timeline-item {
      padding-left: 20px;
      position: relative;

      &:not(:last-child) {
        padding-bottom: $padding-bottom;

        &:after {
          content: '';
          position: absolute;
          width: $border-width;
          height: 100%;
          top: $line-height / 2;
          left: calc(#{$marker-size} / 2 - #{$border-width} / 2);
          background-color: $listing-blue;
        }
      }
    }

    .timeline-time {
      line-height: $line-height
    }

    .timeline-marker {
      position: absolute;
      left: 0;
      top: calc(#{$line-height} / 2 - #{$marker-size} / 2);
      width: $marker-size;
      height: $marker-size;
      background-color: $listing-blue;
      @include border-radius(100px);
    }
  }

  .map {
    img {
      width: 100%;
    }
  }

  .feedback-stars {
    float: right;
    color: $listing-blue;

    .icon {
      &:before {
        margin: 0 0 0 -2px;
      }
    }
  }

  .listing-title-fixed {
    display: none;
  }

  .modal {
    .close {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  #cart-abandonment {
    a.call-us-btn {
      float: none;
    }
  }

  .datepicker-inline {
    width: 100%;

    @media (min-width: 500px) {
      width: 220px;
    }
  }

  @include media-breakpoint-up(md) {
    .listing-breadcrumb {
      position: absolute;
      top: 0;
      background-color: transparent;
      color: white;
      padding: 25px 30px;
      @include linear-gradient(to top, transparent, rgba(black, 0.4));
      width: 100%;

      #{$a-tags-hover} {
        color: white;
      }
    }

    .listing-carousel {
      .carousel-item {
        height: calc(100vh - #{$header-height-md} - 11rem);
        max-height: 500px;
      }
    }

    .listing-title-desktop-container {
      position: absolute;
      bottom: 0;
      width: 100%;
      @include linear-gradient(to bottom, transparent, rgba(black, 0.4));
    }
    .listing-main-title {
      color: white;
      margin: auto;
      font-size: 3.5rem;
    }
  }

  @include media-breakpoint-up(lg) {
    a.cta-btn {
      padding: 0;
      border-spacing: 15px;
      min-height: 60px;
    }

    a.call-us-btn {
      float: none;
    }

    .hr-container {
      padding: 0 15px;
    }

    $listing-max-width: 980px;
    .listing-max-width {
      max-width: $listing-max-width;
      margin: auto;
    }

    $desktop-price-box-width: 250px;
    .desktop-price-box {
      float: right;
      width: $desktop-price-box-width;
      z-index: $z-price;
      background: white;
      padding: 15px;

      &.affix {
        position: fixed;
        top: 0;
        left: 50%;
        margin-left: $desktop-price-box-width - 10px;
      }

      .listing-price {
        font-size: 3.5rem;
      }

      .read-more {
        width: 100%;
        font-size: 2rem;
      }
    }
    .listing-title-fixed {
      &.affix {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        background: white;
        z-index: $z-price;

        .listing-title-fixed-content {
          max-width: $listing-max-width;
          margin: auto;
        }
        .listing-main-title {
          margin-right: $desktop-price-box-width;
          color: $color-text-main;
          font-size: 3rem;
          padding: 15px;
        }
      }
    }

    .listing-body {
      margin-right: $desktop-price-box-width;
    }
  }
}