[class^='how-it-works'] {
  #get-aboard-img {
    margin-left: -35px;
    margin-top: -50px;
    margin-right: 15px;
  }
  .how-it-works-img {
    display: none;
  }

  .separator {
    margin-bottom: 25px;
  }

  @include media-breakpoint-up(md) {
    .separator {
      margin-bottom: 50px;
    }

    .how-it-works-img {
      display: inline-block;
      margin: -50px -35px 10px 22px;
      width: 400px;
    }
  }

  .support-step {
    display: table;
    border-spacing: 1rem;

    .bullet, .text {
      display: table-cell;
      vertical-align: top;
    }
  }

  .panel-heading {
    cursor: pointer;
    line-height: 5rem;
    background-color: #e7e7e7;
    border-bottom: 1px solid #d8d8d8;

    .more-less {
      color: $color-light;
    }

    &.opened {
      border-bottom: 2px solid $color-light;
    }
  }
}

[class^='contact-us'] {
  .content {
    #{$a-tags}, #{$a-tags-hover} {
      text-decoration: underline;
      color: $color-light;
    }
  }

}