.loader {
  border: 16px solid $body-bg; /* Light grey */
  border-top: 16px solid $color-links; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(white, 0.50);

  .loader {
    position: relative;
    margin: auto;
    top: 50%;
    @include translateY(-50%);
  }
}