.margin-xs {
  margin: 5px !important;
}
.margin-sm {
  margin: 10px !important;
}

.margin-bottom-sm {
  margin-bottom: 10px !important;
}
.margin-top-sm {
  margin-top: 10px !important;
}
.margin-right-sm {
  margin-right: 10px !important;
}
.margin-left-sm {
  margin-left: 10px !important;
}

.margin-bottom-md {
  margin-bottom: 15px !important;
}
.margin-top-md {
  margin-top: 15px !important;
}
.margin-right-md {
  margin-right: 15px !important;
}
.margin-left-md {
  margin-left: 15px !important;
}

.margin-bottom-lg {
  margin-bottom: 25px !important;
}
.margin-top-lg {
  margin-top: 25px !important;
}
.margin-right-lg {
  margin-right: 25px !important;
}
.margin-left-lg {
  margin-left: 25px !important;
}

.margin-bottom-xl {
  margin-bottom: 40px !important;
}
.margin-top-xl {
  margin-top: 40px !important;
}
.margin-right-xl {
  margin-right: 40px !important;
}
.margin-left-xl {
  margin-left: 40px !important;
}

.padding-top-lg {
  padding-top: 25px;
}

.full-width {
  width: 100% !important;
}

.inline-block {
  display: inline-block;
}

.i-2 {
  font-size: 20px;
}
.i-4 {
  font-size: 26px;
}
.pointer {
  cursor: pointer;
}

.text-lg {
  font-size: 25px;
}