// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "iconfont/css/naus-embedded.css";
// Variables
@import "variables";
// Vendor
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background-color: $body-bg;
}

.loader {
  display: inline-block;
  position: fixed;
  background-color: rgba(white, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.pre {
  display: inline-block;
  padding: 2px;
  margin: 0;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

#page-login {
  padding: 25px;

  .logo-container {
    width: 150px;
    margin: 20px auto;

    .logo {
      width: 150px;
    }
  }
}

.sidebar {
  .logo {
    width: 100%;
    max-width: 200px;
    margin: 20px 0;
  }

  .sidebar-item {
    border-top: 1px solid $main-color;

    &:last-child {
      border-bottom: 1px solid $main-color;
    }

    .link {
      margin: 5px 0;
      padding: 10px 0;
      display: inline-block;
      width: 100%
    }
  }
}

.content {
  padding-top: 20px;
  min-height: 768px;
  border-left: 1px solid $main-color;

  .input-tooltip {
    font-size: 20px;
    color: darkgray;
  }
}

.product {
  .input-row {
    margin-top: 10px;
  }

  [id^='multi-'][id$='-fields'] {
    display: none;
    padding: 5px 5px 10px;
    border: 1px dashed;
    margin: 10px 0;
  }

  .item-counter {
    position: absolute;
    left: -5px;
    line-height: 1.8;
  }

  #map {
    height: 350px;
  }

  .photos-container {
    #photo-upload-box{
      width: 250px;
      height: 100px;
      border: 1px dashed;
      cursor: pointer;
    }

    input[name*="cover"]{
      width: 50px;
      height: 50px;
    }

    .photo-entry {
      margin: 15px 0;
    }
  }

  .bootstrap-tagsinput {
    width: 100%;

    input {
      width: 100%;
    }
  }

  label.error {
    display: block;
    font-size: 11px;
    color: red;
  }
}

.list {
  .search {
    height: 35px;

    &.input {
      width: 300px;
    }

    &.btn {
      width: 150px;
    }
  }

  .row {
    margin: 10px 0;
  }

  table {
    border: 1px solid lightgray;
  }
}

//AREAS
tr.harbour-center {
  font-style: italic;
}

tr.area {
  font-weight: bold;
  background-color: lightblue;
}

// Booking Status
.booking-status {
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: #cdccd1;
  white-space: pre;

  // to be paid
  &.status-1 {
    background-color: #0080ff;
  }
  // paid
  &.status-2 {
    background-color: #41d800;
  }
  // expired
  &.status-3 {
    background-color: #ff6e00;
  }
  // canceled
  &.status-4 {
    background-color: #d70000;
  }
  // partially refunded
  &.status-5 {
    background-color: #ff6e00;
  }
  // refunded
  &.status-6 {
    background-color: #d70000;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(white, 0.5);
}

.guests-table {
  margin: 10px 0;
  background-color: white;
  border: 1px solid lightgray;

  td {
    padding: 5px;
    vertical-align: middle;
  }
}

// Helper classes
@import "helper-classes";